<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.w3.org/1999/xhtml">
<head></head>
<body>
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <div class="border-bottom mt-4 py-2 d-flex justify-content-between">
        <h2 th:text="${question.subject}"></h2>
        <div class="d-flex py-2 justify-content-end">
            <div class="mx-1 ">조회수</div>
            <div class="mx-1" th:text="${question.view}"></div>
        </div>
    </div>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
            <div class="mt-5 d-flex justify-content-end">
                <div class="me-auto d-flex flex-row">
                <div class="d-flex flex-row badge bg-light text-dark p-2 text-start mx-1">
                    <div class>
                            <span class="mx-2" th:if="${question.author != null}"
                                  th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yy-MM-dd HH:mm')}" class="mx-1"></div>
                </div>
                <div class="d-flex flex-row-reverse">
                    <div th:if="${question.modifyDate != null}"
                         class="d-inline-flex flex-row badge bg-light text-dark p-2 text-start mx-2 ">
                        <div class="mx-2">수정됨</div>
                        <div th:text="${#temporals.format(question.modifyDate, 'yy-MM-dd HH:mm')}" class="mx-1"></div>
                    </div>
                </div>
                </div>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                   class="delete btn btn-sm btn-outline-secondary mx-2" sec:authorize="isAuthenticated()"
                   th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
                   th:text="삭제"></a>
                <a th:href="@{|/question/vote/${question.id}|}" class=" btn btn-sm btn-outline-secondary">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer, loop : ${paging}">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" th:utext="${@commonUtil.markdown(answer.content)}"></div>
            <div class="mt-5 d-flex justify-content-end">
                <div class="me-auto d-flex flex-row">
                    <div class="d-flex flex-row badge bg-light text-dark p-2 text-start mx-1">
                        <div class>
                            <span class="mx-2" th:if="${answer.author != null}"
                                  th:text="${answer.author.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate, 'yy-MM-dd HH:mm')}" class="mx-1"></div>
                    </div>
                    <div class="d-flex flex-row-reverse">
                        <div th:if="${answer.modifyDate != null}"
                             class="d-inline-flex flex-row badge bg-light text-dark p-2 text-start mx-2 ">
                            <div class="mx-2">수정됨</div>
                            <div th:text="${#temporals.format(answer.modifyDate, 'yy-MM-dd HH:mm')}" class="mx-1"></div>
                        </div>
                    </div>
                </div>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                   sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="수정"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                   class="delete btn btn-sm btn-outline-secondary mx-2" sec:authorize="isAuthenticated()"
                   th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                   th:text="삭제"></a>
                <a th:href="@{|/answer/vote/${answer.id}|}" class=" btn btn-sm btn-outline-secondary">
                    추천
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝  -->

    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->


    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control"
                  rows="10"></textarea>
        <textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
        <input type="submit" value="답변등록" class="btn btn-primary my-2">
    </form>
</div>
<script layout:fragment="script" type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            }
            ;
        });
    });
</script>
</body>
</html>